@import "../node_modules/@sheinc/shelikes-design-system/lib/style.css";

section {
  margin-bottom: 100px;
  & > h2 {
    background-color: gainsboro;
  }
  & > div {
    margin-bottom: 20px;
  }
}

.nav-wrapper {
  display: flex;
  gap: 10px;
}
